# This requires the index configuration:
# https://osi9be:password@artifactory.boschdevcloud.com/artifactory/api/pypi/modana-bios-pypi-local/simple
# modanalit=="2.23.0+streamlit.1.45"
modana==0.9.0
click==8.1.8
